In [10]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.feature_extraction.text import CountVectorizer

df = pd.read_csv("../data/temp_csv/spam.csv",encoding='latin-1')

# CountVectorizer()

In [7]:
df.head()

                                                text label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
2  Free entry in 2 a wkly comp to win FA Cup fina...  spam
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham

In [31]:
messages = [ 
                    'Hey!!, I need a favor',
                    "Did you go home?",
                    "My name is Ashhar.",
                    "Hey Hey let's go get lunch today"
           ] 

vect = CountVectorizer()
vect.fit(messages)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [32]:
dtm = vect.transform(messages)
vect.get_feature_names()

['ashhar',
 'did',
 'favor',
 'get',
 'go',
 'hey',
 'home',
 'is',
 'let',
 'lunch',
 'my',
 'name',
 'need',
 'today',
 'you']

In [33]:
pd.DataFrame(dtm.toarray(), columns = vect.get_feature_names())

,ashhar,did,favor,get,go,hey,home,is,let,lunch,my,name,need,today,you
0,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0
1,0,1,0,0,1,0,1,0,0,0,0,0,0,0,1
2,1,0,0,0,0,0,0,1,0,0,1,1,0,0,0
3,0,0,0,1,1,2,0,0,1,1,0,0,0,1,0

# TfIDFVectorizer()

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer
def createDTM(messages):
    vect = TfidfVectorizer()
    vect.fit(messages)
    dtm = vect.transform(messages)
    return pd.DataFrame(dtm.toarray(), columns = vect.get_feature_names())
createDTM(messages)

,ashhar,did,favor,get,go,hey,home,is,let,lunch,my,name,need,today,you
0,0.0,0.000000,0.617614,0.000000,0.000000,0.486934,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.617614,0.000000,0.000000
1,0.0,0.525473,0.000000,0.000000,0.414289,0.000000,0.525473,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.525473
2,0.5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.5,0.000000,0.000000,0.5,0.5,0.000000,0.000000,0.000000
3,0.0,0.000000,0.000000,0.375083,0.295720,0.591440,0.000000,0.0,0.375083,0.375083,0.0,0.0,0.000000,0.375083,0.000000